{% extends "base/base.html" %}

{% block title %}
	| Manage - Enter a New Password
{% endblock %}

{% block content %}
<div class="generic_text">
	<form method="post" action='/newpassword/'>
	<input type="hidden" name="user" value="{{user.username}}">
	<input type="hidden" name="key" value="{{key}}">
	<p><label for="new_password">Enter new password for {{user.username}}:</label><input type="password" name="new_password"></p>
	<div class="clearer"></div>
	<input type="image" src="/media/images/btn_submit.gif" class="submit" />
	</form>
</div>
{% endblock %}
