{% extends "base/base.html" %}

{% block title %}
	| Manage - Reset Password
{% endblock %}

{% block pageheader %}
	Reset Password
{% endblock %}

{% block content %}

<div class="generic_text">
	


	Enter your username, and you'll be emailed a link to reset your password.<br>
	<form method="post" action='/reset_password_post/'>
	<p><label for="username">Username:</label><input type="text" name="username"></p>
	<div class="clearer"></div>
	<input type="image" src="/media/images/btn_submit.gif" class="submit" />
	</form>
	<br><br>
	<b>OR</b>, enter your email address:
	<form method="post" action='/reset_password_post/'>
	<p><label for="email">Email:</label><input type="text" name="email"></p>
	<div class="clearer"></div>
	<input type="image" src="/media/images/btn_submit.gif" class="submit" />
	</form>

</div>
{% endblock %}
