{% extends "base/base.html" %}

{% block title %}
	| About Us - Contact Us/Feedback - Thanks
{% endblock %}

{% block pageheader %}
	Contact Us/Feedback
{% endblock %}

{% block subnav %}
	{% include "includes/nav/nav_sub_about_us.incl" %}
{% endblock %}

{% block content %}

<div id="content_main">
	
	<div class="hero wide">
		<div class="module">
			
			<h2 class="first">Thanks for you feedback.</h2> 
			
			<p>We use the information you provide to improve our product for our users, so thanks again.</p> 

			<p><a href="/">&laquo; Back to Flowgram home</a></p>
			
			<p><img src="/media/images/spacer.gif" width="1" height="300" border="0" /></p>

		</div>
	</div>
	
</div>

	
{% endblock content %}
