{% extends "base/base.html" %}

{% block title %}
	| About Us - Copyright
{% endblock %}

{% block pageheader %}
	Copyright
{% endblock %}

{% block subnav %}
	{% include "includes/nav/nav_sub_about_us.incl" %}
{% endblock %}

{% block content %}

	<div class="generic_text">
		<p>Date of Last Revision: June 23, 2008</p>
		<p>We respect the intellectual property rights of others. We prohibit users from transmitting to the Flowgram Inc. website any materials that violate another person’s intellectual property rights. When we receive proper Notification of Alleged Copyright Infringement as described below, we promptly remove or disable access to the allegedly infringing material and terminate the accounts of repeat infringers in accordance with the Digital Millennium Copyright Act. </p>
		<p>We also try to prevent the Flowgram service from being used – apart from our Website – to create, edit, annotate, distribute or otherwise use any "flowgrams" or other materials that infringe the intellectual property rights of any owner of "Third Party Content" as defined in the section of our Terms of Use entitled "Third Party Content." We invite any owner of "Third Party Content" to notify us of any alleged violation of its intellectual property rights by a Flowgram user by submitting to us a Notification of Alleged Copyright Infringement as described below. We will notify the user involved and request that the user cease using the infringing material, and we will terminate the accounts of repeat infringers of the rights of Third Party Content owners in accordance with the Digital Millennium Copyright Act. </p>
		<p>Although it is our present practice to invite Third Party Content owners to submit a Notification of Alleged Copyright Infringement, and to respond to any proper Notification as described below, we do so as a courtesy and do not, by doing so, assume any liability or responsibility whatsoever for the use or misuse by any person of Third Party Content. We reserve the right at any time, without notice to any person, to cease our practice of inviting, and responding to, a Notification of Alleged Copyright Infringement from any Third Party Content owner.</p>
		<p>For more copyright information, please visit our Copyright FAQ page.</p>
		<p><strong>A. Notification of Alleged Copyright Infringement</strong></p>
		<p>If you believe your own copyrighted work is accessible on the Flowgram website or service, or in any "flowgram" or other material created by a user of our service, in violation of your copyright, you may provide our Designated Agent with a written communication as set forth in the Digital Millennium Copyright Act ("DMCA"), 17 U.S.C. § 512(c)(3) that contains substantially the following information:</p>
		<ol><li>Identify in sufficient detail the copyrighted work or intellectual property that you claim has been infringed so that we can locate the material. For example, "The copyrighted work is my content that appears at http://www.xyz.com/item2." If multiple copyrighted works at a single online site are covered by your Notification, you may provide a representative list of such works at that site.</li>
				<li>If the allegedly infringing material appears on the Flowgram website, identify the URL or other specific location on the Flowgram website that contains the material that you claim infringes your copyright described in Item 1 above. For example, "The content at the following URL infringes on my copyright: http://www.flowgram.com/item8." If the allegedly infringing material appears in a "flowgram" or other material created using the Flowgram service but does not appear on the Flowgram website, please provide as much information as is reasonably available to you that will enable us to identify the person or persons who have created or are maintaining or distributing the allegedly infringing material. You must provide us with reasonably sufficient information to locate the alleged infringing material.</li>
				<li>Provide the electronic or physical signature of the owner of the copyright or a person authorized to act on the owner’s behalf.</li>
				<li>Include a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law.</li>
				<li>Include a statement by you that the information contained in your Notice is accurate and that you attest under the penalty of perjury that you are the copyright owner or that you are authorized to act on the copyright owner’s behalf.</li>
				<li>Include your name, mailing address, telephone number and email address.</li></ol>
		<p>You may submit your Notification of Alleged Copyright Infringement using our automated form, or send it to our Designated Agent by E-Mail: copyright@flowgram.com</p>
		<p>You may be liable for damages, including court costs and attorneys fees, if you materially misrepresent that content on our website and/or service is copyright infringing. Filing a false form on this page may constitute perjury.</p>
				<p>Upon receiving a proper Notification of Alleged Copyright Infringement as described in this Section A, we will remove or disable access to the allegedly infringing material and promptly notify the alleged infringer of your claim. We also will advise the alleged infringer of the DMCA statutory Counter Notification procedure described below in Section B by which the alleged infringer may respond to your claim and request that we restore this material.</p>
				<p><strong>B. Counter Notification</strong></p>
				<p>If you believe your own copyrighted material has been removed from our website and/or service as a result of mistake or misidentification, you may submit a written Counter Notification to our Designated Agent pursuant to 17 U.S.C. § 512(g)(2) and (3). To be effective under the DMCA, your Counter Notification must include substantially the following:</p>
		<ol><li>Identification of the material that has been removed or disabled and the URL or other location at which the material appeared before it was removed or disabled.</li>
				<li>A statement that you consent to the jurisdiction of the Federal District Court in which your address is located, or if your address is outside the United States, for any judicial district in which the service provider (Flowgram) may be found.</li>
				<li>A statement that you will accept service of process from the party that filed the Notification of Alleged Copyright Infringement or the party’s agent.</li>
				<li>Your name, address and telephone number.</li>
				<li>A statement under penalty of perjury that you have a good faith belief that the material in question was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled.</li>
				<li>Your physical or electronic signature.</li></ol>
		<p>You may submit your Counter Notification to our Designated Agent by E-Mail: copyright@flowgram.com</p>
		<p>If you send us a valid, written Counter Notification meeting the requirements described above, we will restore your removed or disabled material after 10 business days, and in no event later than 14 business days, from the date we receive your Counter Notification, unless our Designated Agent first receives notice from the party filing the original Notification of Alleged Copyright Infringement informing us that such party has filed a court action to restrain you from engaging in infringing activity related to the material in question.</p>
				<p>If you materially misrepresent that the disabled or removed content was removed by mistake or misidentification, you may be liable for damages, including costs and attorney’s fees. Filing a false form on this page may constitute perjury.</p>
		
		
	</div>
	
{% endblock content %}

{% block js_init %}

{% endblock %}
