{% extends "base/base.html" %}

{% load filters %}
{% load tags %}

{% block styles %}
	<style type="text/css" media="screen">
		div#adminTools {
			font-size: 10px;
		}
	</style>
{% endblock %}

{% block title %}
	| Admin Newest
{% endblock %}

{% block pageheader %}
	Admin Newest Flowgrams
{% endblock %}

{% block subnav %}
	{# include "includes/nav/nav_sub_browse.incl" #}
{% endblock %}

{% block content %}

	<div id="content_main">

        {% with object_list as flowgram_list %}
            {% include "includes/modules/flowgram/fg_modules.html" %}
        {% endwith %}	

	    {% load digg_paginator %}
		{% digg_paginator %}
		
	</div>

	<div id="content_right">
		{% include "includes/modules/other_content/invite_module.incl" %}
        {% include "includes/modules/flowgram/sidebar_fgs.html" %}
        
	</div>
	
{% endblock content %}

{% block js %}
	<script type="text/javascript" src="/media/js/AdminToolsController.js"></script>
{% endblock %}

{% block js_init %}
	{% if object_list %}
		{% for fg in object_list %}
	        {% star-rating fg user False %}
			{# % widget fg 140 100 "opaque" % #}
		{% endfor %}
	{% endif %}
	
	dfc = new DisplayFiltersController();
	
	atc = new AdminToolsController();
{% endblock %}

