{% extends "base/base.html" %}

{% block title %}
	| Register
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/media/css/avatar_block.css" type="text/css">
{% endblock %}

{% block pageheader %}
	Register
{% endblock %}

{% block content %}
<div id="content_main">
	
	<div class="hero wide">
		<div class="module">
			
			<h2 class="first">Create an Account</h2>
			{% ifnotequal next_greeting '' %}
				<h3 id="next_greeting">{{ next_greeting }}<br/></h3>
			{% endifnotequal %}
			{% if form.errors %}
				<div class="error-info">Please fix the problem{% if form.errors|length_is:"1" %}{% else %}s{% endif %} noted below in red.</div><br/>
			{% endif %}
			
			
			<div class="generic_form">			
                <form method="post" onsubmit="return checkTerms();" action="/register/" id="register" enctype="multipart/form-data">
					{% ifnotequal next '/' %}
						<input type="hidden" name="next" value="{{ next }}" id="next">
					{% endifnotequal %}
					{% for field in form %}
						{% ifnotequal field.name 'registration_code'  %}						
							{% ifnotequal "newsletter_optin" field.name %}
							<div class="form-field">
								{{ field.label_tag }}{{ field }}
								{% if field.errors %}
									<span class="errorlist">{{ field.errors|join:", " }}</span>
								{% else %}
									{% if field.field.required %}
										<span class="required-field">&#42;</span>
									{% endif %}
								{% endif %}							
							</div>
							{% endifnotequal %}
						{% else %}
							{% if use_regcode  %}
								<div class="form-field">
									{{ field.label_tag }}{{ field }}
									{% if field.errors %}
										<span class="errorlist">{{ field.errors|join:", " }}</span>
									{% else %}
										{% if field.field.required %}
											<span class="required-field">&#42;</span>
										{% endif %}
									{% endif %}							
								</div>
							{% endif %}
						{% endifnotequal %}
					{% endfor %}
					 <div class="clearer"></div>
					<div id="default_avatar">
						<p><label>Your avatar:</label><img src="{{avatar_url}}"/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="new Effect.BlindDown($('wrapper_avatar_selector'), {duration: .5});">Click here</a> to choose a new avatar.</p>
		                <input id="builtin_avatar_name" type="hidden" name="builtin_avatar_name" value="{{ avatar_name }}" />
					</div>
					<div class="clearer"></div>
					<div id="wrapper_avatar_selector" style="display: none;">
						<p><strong>Upload a new avatar:</strong> <input type="file" name="avatar" id="id_avatar" /></p>
		                <div class="clearer"></div>
						<p id="or">Or</p>
						<strong>Choose one of these avatars:</strong>
		                <div id="avatar_selector">
		                    {% for name in builtin_avatars %}
		                        <div class="avatar_imgbox" id="{{name}}_avatar">
		                            <img src="/media/images/avatars/{{name}}-32.jpg" />
		                        </div>
		                    {% endfor %}
		                    <div class="clearer"></div>
		                </div></p>
					</div>

					{{ form.newsletter_optin }} {{ form.newsletter_optin.label_tag }}<br>
					<input type="checkbox" name="regTerms" id="regTerms" /><span id="tos-label">By checking here you indicate that you agree to our <a href="javascript:void(0);" onclick="var gmailDialog = new DialogController('/media/dialogs/terms.html');">Terms of Service</a></span>
					<!-- <a href="javascript:void(0);" onclick="window.open('/media/dialogs/terms.html','resizable=1,location=0,status=0,scrollbars=1,width=200,height=400');">Terms of Service</a> -->.
					<br/><br/>
					<input type="image" class="submit float" src="/media/images/btn_register_small.gif" border="0" /><span id="regMessage" class="error float" style="margin: 7px 0px 0px 10px;"></span>
					<div class="clearer"></div>
					<div class="required-info">&#42; = Required</div>
					<div class="clearer"></div><br>
				</form>
			</div>
					
			{% if use_regcode  %}
				<div class="divider_horiz"></div>

				<h2>Help! I don't have a Registration Code!</h2>
				<div class="generic_form">
					<span style="display:block; width: 420px; margin-bottom:10px;">Don't worry: soon you won't need one. FlowGram is only in private beta until it's ready for you. If you really can't wait, enter your email address below and we'll see what we can do.</span>
					<form method="post" id="regcode_form" action="/request_regcode/" onsubmit="return check_regcode_form();">
						<span id="regcode_error" class="error"></span>
						<div>
							<label for="rc_request_name">Name:</label>
							<input type="text" id="rc_request_name" name="name" value="{% if request_regcode_name %}{{ request_regcode_name }}{% endif %}"/>		
							<span class="required-field">*</span>
						</div>
						<div>
							<label for="rc_request_email">Email address:</label>
							<input type="text" id="rc_request_email" name="email" value="{% if request_regcode_email %}{{ request_regcode_email }}{% endif %}"/>
							<span class="required-field">*</span>
						</div>
						<div>
							<label for="rc_request_how">How did you hear about us:</label>
							<textarea id="rc_request_how" name="how">{% if request_regcode_how %}{{ request_regcode_how }}{% endif %}</textarea>
							<span class="required-field">*</span>
						</div>
						<div>
							<label for="rc_request_comments">Tell us about yourself:</label>
							<textarea id="rc_request_comments" name="comment">{% if request_regcode_comment %}{{ request_regcode_comment }}{% endif %}</textarea>
							<span class="required-field">*</span>
						</div>
						{% comment %}
						<div class="clearer"></div>
						<div style="margin: 0px 0px 10px 130px;">
							<script>var RecaptchaOptions = {theme : 'white'};</script>  
							<script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6LdEdwIAAAAAANWt9aHMHAtCvd9wL--xrx_LKc6z{{ captcha_error }}"></script>  
							<noscript>  
								<iframe src="http://api.recaptcha.net/noscript?k=6LdEdwIAAAAAANWt9aHMHAtCvd9wL--xrx_LKc6z{{ captcha_error }}" height="300" width="500" frameborder="0"></iframe><br />  
								<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>  
								<input type="hidden" name="recaptcha_response_field" value="manual_challenge"/>  
							</noscript>
						</div>
						{% endcomment %}
						<div class="clearer"></div>
						<input type="image" src="/media/images/btn_submit.gif" class="submit" />
					</form>
					<div class="clearer"></div>
				</div>
			{% endif %}
			
		</div>	
		
	</div>
</div>
{% endblock %}

{% block js_init %}
	var avatars = Element.select($('avatar_selector'), '[class="avatar_imgbox"]');    

	function choose_avatar(e) {
        // Get the target
        var target = Event.element(e);
        if (target.nodeName == 'IMG') {
            target = target.parentNode;
        }

        // Remove style from old one
        avatars.each(function (elem) { Element.removeClassName(elem, 'avatar_selected')});

        // Add style to new one
        target.addClassName('avatar_selected');

        // Get it's avatar name
        var id = target.id;
        id = target.id.slice(0, target.id.indexOf('_'));

        // Set the current one
        $('builtin_avatar_name').value = id;
    }
    avatars.each(function (elem) { Event.observe(elem, 'click', choose_avatar)});

	function check_regcode_form() {
		if ($('rc_request_name').value == '' || $('rc_request_email').value == '' || $('rc_request_how').value == '' || $('rc_request_comments').value == '') {
			$('regcode_error').innerHTML = 'All fields are required to request a registration code.';
			return false;
		}
		
		else {
			return true;
		}
	}
	
	function checkTerms() {
		$('regMessage').innerHTML = '';
		if ($('regTerms').checked) {
			return true;
		}
		else {
			$('regMessage').innerHTML = 'You must agree to our Terms of Service.';
			return false;
		}
	}
{% endblock %}

{% block google_adwords %}
<!-- Google Code for register-success Conversion Page -->
<script language="JavaScript" type="text/javascript">
<!--
var google_conversion_id = 1038174411;
var google_conversion_language = "en_US";
var google_conversion_format = "1";
var google_conversion_color = "ffffff";
var google_conversion_label = "B_VCCJOybhDLkYXvAw";
//-->
</script>
<script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1038174411/?label=B_VCCJOybhDLkYXvAw&amp;script=0"/>
</noscript>
{% endblock %}
