<div class="body" align="left">
	<div>
	  Hi {{recipient}},
	</div>
			 <br/>
			<div>
              Your Flowgram is now available at: <a href="{{flowgram_url}}">{{flowgram_url}}</a>
            </div>
             <br/>
     <div>  
           <p>Copy and paste the following code to embed a custom widget with your Flowgram
           into your social network profile pages, blogs, or any other web pages:</p>
             <div>
                <code>{{embed_code}}</code>
              </div>
          <p>You can still edit your Flowgram, change the description and add tags by visiting this link:</p> <a href="{{edit_link}}">{{edit_link}}</a>	
	 </div>
		   <br/>
          <p>Please <a href="{{contact_us}}">contact us</a> if you need any help.<p>
<div>
