{% extends "base/base_home.html" %}
{% load filters %}
{% load tags %}

{% block styles %}
	<style type="text/css" media="screen">
		div#hdr_section {
			width: 600px;
		}
	</style>
{% endblock %}

{% block bodyclass %} class="home"{% endblock %}

{% block pageheader %}
	Welcome to the Talking Web
{% endblock %}

{% block content %}
	<div id="content_main">
  
		<div class="hero home_wedge">
			<div id="homeWedgeHero">
				<a href="/create"><img src="{{ hero_image }}" alt="{{ hero_text }}" title="{{ hero_text }}" border="0" /></a>
			</div>
			<div id="homeHeroVideo"></div>
			<div class="clearer"></div>
			
			<div class="homeWedgeCallToAction"><a href="/go/what_is_a_flowgram"><img src="/media/images/btn_home_action1.png" alt="See Flowgram in action" border="0" /></a></div>		
			{% comment %}
			<!-- google optimizer make a fg button experiment -->
			<script>utmx_section("Create_FG_Button")</script>
			{% endcomment %}		
			<div class="homeWedgeCallToAction"><a href="/create"><img src="/media/images/2buttons/makeafgnow.png" alt="Get started" border="0" /></a></div>
			{% comment %}
			</noscript>
			{% endcomment %}
			<div class="clearer"></div>
        </div>

		<div class="grid home">
			
			<h2 class="hdr_bar">Hot Flowgrams</h2>
			<div id="wrapper_nav_ajax_browse">
				<ul id="nav_ajax_browse">
					<li id="nav_ajax_browse_most_viewed"><a href="javascript:void(0);" onclick="abc.handleViewSwitch('most_viewed');">Most Popular</a></li>
					<li class="seperator">|</li>
					<li id="nav_ajax_browse_newest"><a href="javascript:void(0);" onclick="abc.handleViewSwitch('newest');">Newest</a></li>
					<li class="seperator">|</li>
					<li id="nav_ajax_browse_featured" class="selected"><a href="javascript:void(0);" onclick="abc.handleViewSwitch('featured');">Featured</a></li>
					<li class="seperator">|</li>
					<li id="nav_ajax_browse_most_discussed"><a href="javascript:void(0);" onclick="abc.handleViewSwitch('most_discussed');">Most Discussed</a></li>		
					<li class="seperator">|</li>
					<li id="nav_ajax_browse_top_rated"><a href="javascript:void(0);" onclick="abc.handleViewSwitch('top_rated');">Top Rated</a></li>
				</ul>
				<div class="clearer"></div>
			</div>
			
			<div id="wrapper_fg_browse_content">
				<div id="fg_browse_content_loading" style="display: none;"><img src="/media/images/loading_ajax_browse.gif" border="0" alt="Loading..."/></div>
				<div id="fg_browse_content">
					{% for fg in featured %}
						<div class="module {% cycle odd,even %}">
							{% if send_to_details %}
								<a href="{{ fg.url }}"><img src="{{ fg.thumb_url }}" width="100" height="67" border="0" /></a>
							{% else %}
								<a href="{{ fg.flex_url }}" target="_blank"><img src="{{ fg.thumb_url }}" width="100" height="67" border="0" /></a>
							{% endif %}
							<div class="fg_info">
								{% if send_to_details %}
									<h2 class="title"><a href="{{ fg.url }}" title="{{ fg.title|escape }}">{{ fg.title|escape|truncate:26 }}</a></h2>
								{% else %}
									<h2 class="title"><a href="{{ fg.flex_url }}" target="_blank" title="{{ fg.title|escape }}">{{ fg.title|escape|truncate:26 }}</a></h2>
								{% endif %}
								<div class="description">
									{% ifnotequal fg.description ''  %}
										<span title="{{ fg.description|escape }}">
										{{ fg.description|escape|truncate:48 }}</span><br/>
									{% endifnotequal %}
								</div>
								By {{ fg.owner.get_profile.link|safe }} | {{ fg.views }} views<br/>
								{% if fg_timestamp  %}
									{{ fg.date_for_display|date }}
								{% endif %}
							</div>
							<div class="clearer"></div>
							<div class="divider_horiz"></div>
						</div>
					{% endfor %}
					<div class="clearer"></div>
				</div>
			</div>

			<p><strong><a class="browse_more_link" id="fg_browse_content_more_link" href="/browse/featured/">See more Hot Flowgrams &raquo;</a></strong></p>
		</div>
		
	</div>

	<div id="content_right">
		
		{% include "includes/promos/press_promo_home.incl" %}
		{% include "includes/modules/other_content/ideas_module_home.incl" %}
		{% include "includes/modules/login/login_module_home.incl" %}
	    {% include "includes/promos/whats_new_pod.incl" %}
 		{% include "includes/promos/tips_pod_home.incl" %}
    	{% include "includes/promos/community_pod.incl" %}
		{# include "includes/modules/flowgram/sidebar_categories_best_of.incl" #}
		
	</div>
	
	

{% endblock %}

{% block js %}
	<script id="fg_bookmarklet" type="text/javascript" charset="utf-8" src="/media/swf/jwplayer/swfobject.js"></script>
{% endblock %}

{% block js_init %}

var abc = new AjaxBrowseController();

var asrc = new AjaxStatRecordController();

// embed hero video
var so = new SWFObject('/media/swf/jwplayer/player.swf','mpl','322','276','9');
so.addParam('allowscriptaccess','always');
so.addParam('allowfullscreen','true');
so.addParam('wmode','opaque');
so.addParam('flashvars','&file=http://{{ s3_bucket_static }}/media/swf/homeHero/homepagemovie8a.flv&image=/media/swf/homeHero/screen.png');
so.write('homeHeroVideo');

var player;

function videoPlayStatRecord(obj) {
	var newstate =obj['newstate'];
	if (newstate == 'BUFFERING') {
		asrc.recordStat('view_hero_video_website', '0', 'video start');
	}
	else if (newstate == 'COMPLETED') {
		asrc.recordStat('view_hero_video_website', '0', 'video end');
	}
	
}

function playerReady(obj) {
	var id = obj['id'];
	var version = obj['version'];
	var client = obj['client'];
	player = $(id);
	player.addModelListener("STATE","videoPlayStatRecord");
}

{% endblock %}
