{% extends "client/client_base.html" %}

{% block styles %}
	<link rel="stylesheet" href="/media/css/client/client_panels.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block title %}
	| Register
{% endblock %}

{% block content %}
<div id="wrapper_page_header">
	<h2 class="sifr_dark">Register</h2>
</div>
<div class="generic_text">
	<form method="post" id="client_register" action="/client/client_register_submit/" onsubmit="return false;">
	{{ form.as_p }}
	<div class="clearer"></div>
	<input type="image" src="/media/images/btn_submit.gif" class="submit" />
	</form>
</div>
{% endblock content %}

{% block js_init %}
	var client_register_submit = new ClientSubmitController();
{% endblock %}


