{% extends "base/base.html" %}

{% block title %}
	| Make a Flowgram - Terms and Conditions
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/media/css/make_a_flowgram.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block subnav %}
	{% include "includes/nav_sub_make.incl" %}
{% endblock %}

{% block content %}
	<div id="wrapper_page_header">
		<h2 class="sifr_dark">Make a Flowgram</h2>
	</div>

	<div class="generic_text">
		
		<div id="terms_and_conditions">
			<strong>Terms and Conditions</strong>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		
		<div id="terms_buttons">
			<a href="javascript:void(0);" onclick=""><img src="/media/images/btn_toolbar_agree_install.gif" width="155" height="33" border="0" alt="Agree and Install" /></a><a href="/make/"><img src="/media/images/btn_toolbar_cancel.gif" width="85" height="33" border="0" alt="Cancel" /></a>
		</div>
		
		<div class="clearer"></div>
	</div>
	
{% endblock content %}
