<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FlowGram - Tutorial: Quick Add</title>
<script language="javascript">
    if(document.location.search == "?added") {
        alert("Great job. So this page is now part of the FlowGram. The first step in making a Flowgram is usually gathering the FlowPages so the QuickAdd button is a handy way to keep adding pages as you browse around the internet.\n\nNow let's bring back the FlowGram Maker by clicking on the Flowgram Maker bookmark.");
    }
</script>
</head>

<body>
<h1>See, the FlowGram Maker is no longer present.</h1>
<p>This is usually how things will be while you are browsing around.</p>
<p>Let's say you browse to a page, like this one, and want to ADD IT to your FlowGram.</p>
<p>That's where the Quick+ button comes in. It's just next to the FlowGram Maker button. See it?</p>
<p>Here's a screenshot of what the top of your browser might look like:</p>
<p><img src="/media/images/tutorial/quick_plus.jpg" width="232" height="62" /></p>
<p>OK, after you've found the button in browser, click it, and you'll add this web page to the FlowGram.</p>
<hr/>
<p>After you've successfully added this page, click on the the FlowGram Maker Button again to see the newly added page in your FlowGram.</p>
</body>
</html>
