<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">


<script type="text/javascript">/* Copyright 2008 Google. */ (function() {
// Input 0
var a=window;
// Input 1
var b="start";function c(){this.t={};this.tick=function(d){this.t[d]=(new Date).getTime()};this.tick(b)}var e=new c;a.jstiming={Timer:c,load:e};if(a.external&&a.external.pageT)a.jstiming.pt=a.external.pageT;
})()
</script>
<link rel="shortcut icon" href="http://sites.google.com/a/flowgram.com/intranet/_/rsrc/1225931538377/system/app/images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="http://sites.google.com/a/flowgram.com/intranet/_/rsrc/1225931434577/system/app/images/apple-touch-icon.png" type="image/png">
<script>
  window.jstiming.load.tick('scl');
</script>
<!--[if IE]>
  <link rel="stylesheet" href="/a/flowgram.com/intranet/_/rsrc/1225929844750/system/app/css/ie.css" type="text/css" media="screen" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="/media/css/standalone/adobePreso/jot.css">
<script>
  window.jstiming.load.tick('cl');
  webspace = {};
  webspace.domain = 'flowgram.com';
  webspace.isConsumer = false;
  webspace.sharingPolicy = 'OPENED_WITH_INDICATOR';
  webspace.baseUri = '/a/flowgram.com/intranet';
  webspace.siteTitle = 'Intranet';
  webspace.homePath = '/';
  webspace.analyticsAccountId = '';
  webspace.enableAnalytics = false;
  webspace.domainAnalyticsAccountId = '';
  webspace.termsUrl = 'http://www.google.com/sites/help/intl/en/terms_apps.html';
  webspace.gadgetDirectoryUrl = 'http://www.google.com/ig/directory';
  webspace.isStartPageEnabled = false;
  webspace.user = {};
  
  webspace.user.uid = '08353558084701391487';
  webspace.user.primaryEmail = 'chris@flowgram.com';
  webspace.user.userName = 'chris';
  webspace.user.displayNameOrEmail = 'Chris Yap';
  webspace.user.domain = 'flowgram.com';
  webspace.user.hostedAccount = true;
  webspace.user.guest_ = false;
    
  webspace.user.hasAdminAccess = false;
  webspace.user.hasWriteAccess = true;
  
  webspace.page = {
    type: "text",
    properties: {},
    title: "Ideas Interstitials",
    path: "/Home/user-experience-design/ideas-interstitials",
    wuid: "wuid:gx:22d1ae2590605396",
    name: "ideas-interstitials",
    revision: "2",
    parentPath: "/Home/user-experience-design",
    canChangePath: true,
    state: "",
    locale: "en",
    isRtlLocale: false,
    bidiEnabled: false
  };
  var editorResources = [
    '/a/flowgram.com/intranet/_/rsrc/1225931230764/system/js/trog_edit.js',
    '/a/flowgram.com/intranet/_/rsrc/1225931049746/system/app/css/trogedit.css',
    '/a/flowgram.com/intranet/_/rsrc/1225929843104/system/app/css/editorToolbar.css'
  ];
  var JOT_clearDotPath = "/a/flowgram.com/intranet/_/rsrc/1225931490755/system/app/images/cleardot.gif";
</script>
<script type="text/javascript">/* Copyright 2008 Google. */ (function() {
var e=window,h="length";function i(a){return document.getElementById(a)}e.byId=i;var j="";function l(a){return a.replace(/^\s+|\s+$/g,j)}e.trim=l;var n="MSIE",o="6.0",p="string",q="px",r='progid:DXImageTransform.Microsoft.AlphaImageLoader(src="',s='", sizingMethod="scale")',t="noIe6ImgFix";
function u(a){var c=e.navigator?navigator.userAgent:j;if(c.indexOf(n)!=-1&&typeof opera=="undefined"){var b=/MSIE\s+([^\);]+)(\)|;)/;b.test(c);var f=RegExp.$1;if(f==o){var d=typeof a==p?document.getElementById(a):a;d.onload=j;d.style.width=d.width+q;d.style.height=d.height+q;d.style.filter=r+d.src+s;d.src=e.JOT_clearDotPath;d.setAttribute(t,true)}}}e.ie6ImgFix=u;var v=[],w=0;function x(a,c,b){var f=new String(w++),d={eventName:a,handler:c,compId:b,key:f};v.push(d);return f}e.JOT_addListener=x;
function y(a){var c=v;for(var b=0;b<c[h];b++)if(c[b].key==a){c.splice(b,1);break}}e.JOT_removeListenerByKey=y;function z(a){var c=v;for(var b=0;b<c[h];b++)c[b].eventName==a&&c.splice(b,1)}e.JOT_removeAllListenersForName=z;var A="function";
function B(a,c,b){var f={eventName:a,eventSrc:c||{},payload:b||{}};if(e.JOT_fullyLoaded){var d=v,C=d[h];for(var k=0;k<C&&k<d[h];k++){var g=d[k];if(g&&g.eventName==a){f.listenerCompId=g.compId||j;var m=typeof g.handler==A?g.handler:e[g.handler];m&&m(f)}}}else e.JOT_delayedEvents.push({eventName:a,eventSrc:c,payload:b})}e.JOT_postEvent=B;e.JOT_delayedEvents=[];e.JOT_fullyLoaded=false;
})()
</script>
<style xmlns="http://www.google.com/ns/jotspot" type="text/css">
          #goog-ws-left .goog-ws-outside, #goog-ws-left .goog-ws-subfooter,
          #goog-ws-left-nohead .goog-ws-outside, #goog-ws-left-nohead .goog-ws-subfooter {
            margin: 0 0 0 150px;
          }
          #goog-ws-right .goog-ws-outside, #goog-ws-right .goog-ws-subfooter,
          #goog-ws-right-nohead .goog-ws-outside, #goog-ws-right-nohead .goog-ws-subfooter {
            margin: 0 150px 0 0;
          }
          .goog-ws-outer {
            margin-left: auto !important;
            margin-right: auto !important;
            width: 100%;
          }
          .goog-ws-sidebar {
            width: 145px;
          }
          
        </style>
<title>Ideas Interstitials (Intranet)</title>
<script src="/media/js/standalone/adobePreso/ga.js"></script></head><body xmlns="http://www.google.com/ns/jotspot" id="goog-ws-left">
<div xmlns="http://www.w3.org/1999/xhtml" class="goog-ws-top goog-ws-clear">
<div class="goog-ws-site-info">
<span class="goog-ws-siteinfo-siteslogo">Google Sites:</span>
<a href="http://sites.google.com/a/flowgram.com/intranet/">
<span class="goog-ws-siteinfo-name">Intranet</span>
<span class="goog-ws-siteinfo-domain">(flowgram.com)</span>
</a>
</div>
<div class="goog-ws-account">
<script type="text/javascript">
                function enableGoogleAdmin() {
                  document.cookie = 'JOT_GA=true; path=/';
                }
                </script>
<a href="http://sites.google.com/a/flowgram.com/intranet/" onclick="enableGoogleAdmin();" style="text-decoration: none; color: black;"><strong>chris@flowgram.com</strong></a> |
              
          

        
            <a href="http://sites.google.com/a/flowgram.com/sites/">My sites</a> |
          
        <a target="_blank" href="http://sites.google.com/support?hl=en">Help</a>
         |
        <a href="https://sites.google.com/a/flowgram.com/_logout">Sign out</a>
</div>
</div>
<div xmlns="http://www.w3.org/1999/xhtml" id="goog-ws-status" class="goog-ws-status" style="display: none;">
<div id="goog-ws-notice" class="goog-ws-notice"> </div>
</div>
<div xmlns="http://www.w3.org/1999/xhtml" id="goog-ws-page-tools-div">
<div id="page-btns" class="goog-toolbar">
<div class="goog-toolbar-button jot-extra-buttony goog-inline-block">
<a href="http://sites.google.com/a/flowgram.com/intranet/system/app/pages/createPage?source=/Home/user-experience-design/ideas-interstitials" class="goog-ws-create-page">
<div class="goog-inline-block goog-toolbar-button-outer-box">
<div class="goog-inline-block goog-toolbar-button-inner-box">
<img src="/media/images/standalone/adobePreso/cleardot.gif" class="goog-toolbar-button-icon" align="left">
                  Create new page
                </div>
</div>
</a>
</div>
<span id="edit-btn-separator" class="goog-inline-block goog-toolbar-separator">&nbsp;</span>
<div id="edit-start-btn" onclick="window.jstiming.load.t = {}; window.jstiming.load.tick('start'); JOT_postEvent('pageEdit'); return false;" class="goog-toolbar-button jot-extra-buttony goog-inline-block">
<div class="goog-inline-block goog-toolbar-button-outer-box">
<div class="goog-inline-block goog-toolbar-button-inner-box">
<img src="/media/images/standalone/adobePreso/cleardot.gif" class="goog-toolbar-button-icon" align="left">
                Edit page
              </div>
</div>
</div>
<div id="more-actions-btn" class="goog-toolbar-menu-button goog-inline-block jot-extra-buttony">
<div class="goog-inline-block goog-toolbar-menu-button-outer-box">
<div class="goog-inline-block goog-toolbar-menu-button-inner-box">
<div class="goog-inline-block goog-toolbar-menu-button-caption">
                    More actions
                  </div>
<div class="goog-inline-block goog-toolbar-menu-button-dropdown">&nbsp;</div>
</div>
</div>
</div>
<div class="goog-ws-version-history">
            &nbsp;
            
            <span style="" id="version-history">Sep 4, 2008 10:58 AM</span>
<a id="version-history-link" href="http://sites.google.com/a/flowgram.com/intranet/system/app/pages/revisions?target=wuid:gx:22d1ae2590605396" style="color: rgb(102, 102, 102);">See earlier versions</a>
</div>
</div>
</div>
<div class="goog-ws-outer">
<div xmlns="http://www.w3.org/1999/xhtml" class="goog-ws-header">
<table class="goog-ws-header-table" cellpadding="0">
<tbody><tr>
<td class="goog-ws-header-title" colspan="2">
<a href="http://sites.google.com/a/flowgram.com/intranet/">
<img src="/media/images/standalone/adobePreso/logo.png" id="logo-img-id" onload="ie6ImgFix('logo-img-id');" alt="Logo" class="goog-ws-logo">
</a>
<h2 style=""><a href="http://sites.google.com/a/flowgram.com/intranet/">Intranet</a></h2>
</td>
<td class="goog-ws-header-search">
<div class="goog-ws-search">
<form action="/a/flowgram.com/intranet/system/app/pages/search" onsubmit="return checkSearchField()">
<input id="jot-ui-searchInput" name="q" size="20" value="" type="text">
<input id="jot-ui-searchButton" value="Search Site" style="margin-top: -1px;" type="submit">
</form>
</div>
</td>
</tr>
</tbody></table>
</div>
<div class="goog-ws-wrapper">
<div xmlns="http://www.w3.org/1999/xhtml" class="goog-ws-sidebar">
<div class="goog-ws-sidebar-inside">
<div class="goog-ws-sidebar-content">
<div id="COMP_2bd" class="goog-ws-sidebar-gadget">
<h4>Navigation</h4>
<div class="goog-ws-sidebar-gadget-inside goog-ws-sidebar-nav">
<ul jotid="navList">
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/Home" jotid="wuid:gx:47a033de04be9fa0">Home</a>
</li>
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/system/app/pages/sitemap/hierarchy" jotid="wuid:gx:2bda9">Sitemap</a>
</li>
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/Creative-Assets" jotid="wuid:gx:3d8c886e31f664f0">Creative Assets</a>
</li>
</ul>
</div>
</div>
<script>
          var JOT_NAVIGATION_ID = "2bd";
          var JOT_NAVIGATION_pageInNav = false;
          JOT_addListener('addNavLink', 'JOT_NAVIGATION_addNavLink', 'COMP_2bd');
          JOT_addListener('removeNavLink', 'JOT_NAVIGATION_removeNavLink', 'COMP_2bd');
          JOT_addListener('titleChange', 'JOT_NAVIGATION_titleChange', 'COMP_2bd');
        </script>
<div id="COMP_30ac" class="goog-ws-sidebar-gadget">
<h4>Recent site activity</h4>
<div class="goog-ws-sidebar-gadget-inside">
<ul>
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design/fowgram-buddy--player-side-bar">Flowgram Buddy (Player Redsign with Side Bar)</a>
<div><span>edited by Chris Yap</span></div>
<div><span>attachment from Chris Yap</span></div>
</li>
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/uses">Use Cases</a>
<div><span>edited by Mike Zawitkowski</span></div>
</li>
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design/fowgram-buddy--player-side-bar">Flowgram Buddy (Player Redsign with Side Bar)</a>
<div><span>attachment from Tony Lopez</span></div>
<div><span>edited by Tony Lopez</span></div>
</li>
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design">User Experience Design</a>
<div><span>edited by Tony Lopez</span></div>
</li>
<li>
<a href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design/fowgram-buddy--player-side-bar">Fowgram Buddy (Player Side Bar)</a>
<div><span>edited by Tony Lopez</span></div>
</li>
</ul>
<div class="goog-ws-sidebar-viewall">
<a href="http://sites.google.com/a/flowgram.com/intranet/system/app/pages/recentChanges">View All</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="jot-main" class="goog-ws-outside">
<div class="goog-ws-outside-in">
<div class="goog-ws-content-wrapper">
<div id="goog-ws-editor-toolbar-container"> </div>
<div xmlns="http://www.w3.org/1999/xhtml" id="title-crumbs" class="goog-ws-crumbs goog-ws-grey" style="">
<span><a href="http://sites.google.com/a/flowgram.com/intranet/Home">Home</a> &gt; <a href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design">User Experience Design</a> &gt; </span>
</div>
<h3 xmlns="http://www.w3.org/1999/xhtml" id="goog-ws-page-title-header" class="goog-ws-page-title" style="">
<span id="goog-ws-page-title">Ideas Interstitials</span>
</h3>
<table xmlns="http://www.w3.org/1999/xhtml" id="jot-content-table" style="width: 100%; table-layout: fixed;">
<tbody>
<tr>
<td id="col0" style="width: 100%;">
<div id="jot-content0" class="goog-ws-content goog-ws-content-ie goog-ws-clear" style="">
<div style="display: block; text-align: left;"><b>Photos<br><br><br><div style="display: block; text-align: left;"><a href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design/ideas-interstitials/photography.png?attredirects=0" imageanchor="1" style="border: 0pt none ; background-color: transparent;"><img src="/media/images/standalone/adobePreso/photography.png" style="border: 0pt none ;"></a></div></b>&nbsp;<br></div><br>
</div>
</td>
</tr>
</tbody>
</table>
<div xmlns="http://www.w3.org/1999/xhtml" class="goog-ws-bottom">
<div id="COMP_page-subpages" style=""> </div>
<div id="COMP_page-attachments" style="" class="">
<div id="goog-attachment-wrapper">
<h3 id="goog-attachment-header">
<strong>Attachments <span>(<span id="attachments-total-number">1</span>)</span></strong>
</h3>
<div jotid="goog-attachment-inner" style="">
<ul id="JOT_ATTACH_container">
<li id="JOT_ATTACH_container_wuid:gx:da126949e545c3f" class="goog-ws-icon-page">
<a href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design/ideas-interstitials/photography.png.zip?attredirects=0">photography.png.zip</a> 1710k - on Sep 4, 2008 3:18 PM by Chris Yap&nbsp;(version 1)
    
                
                    <a id="del-wuid:gx:da126949e545c3f" href="javascript:;" onclick="return JOT_ATTACH_handleDelete(this);">Remove</a>
</li>
</ul>
<form id="jotAttachmentForm" class="goog-ws-attachment-form" method="post" enctype="multipart/form-data">
<p>
                    Attach a file: <input onclick="this.blur()" name="userfile" onchange="return JOT_ATTACH_handleUploadXfer()" contenteditable="false" type="file">
<input name="pagePath" value="/Home/user-experience-design/ideas-interstitials" type="hidden">
</p>
</form>
</div>
</div>
</div>
<a name="page-comments"></a>
<div id="COMP_page-comments" style="" class="goog-ws-bottom-none">
<div id="goog-comment-wrapper">
<h3 id="goog-comment-header">
<a href="javascript:;" onclick="JOT_postEvent('showPanel', this, {container:'goog-comment-inner',icon:'goog-comment-icon'}); return false;">
<span jotid="goog-comment-icon" class="goog-comment-icon"></span>
<strong>Comments <span>(<span jotid="numComments">0</span>)</span></strong>
</a>
</h3>
<div jotid="goog-comment-inner" style="display: none;">
<div jotid="comments" class="goog-ws-comments">
<div id="_wuid_" jotid="template" class="goog-ws-comment" style="display: none;">
<h4><strong>_displayNameOrEmail_</strong> - _time_ - <a href="javascript:;" onclick="JOT_postEvent('removeComment', this, {wuid:'_wuid_'});">Remove</a></h4>
<p>_text_</p>
</div>
</div>
<form class="goog-ws-clear">
<textarea jotid="textarea" class="goog-ws-comment-textarea"></textarea>
<div style="padding: 0pt 10px; clear: both;">
<a class="btn onbtn goog-ws-comment-submit" href="javascript:;" onclick="JOT_postEvent('addComment', this); return false;"><b><b><b><b>Add comment</b></b></b></b></a>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="goog-ws-subfooter">
<p>
          
          &nbsp;
          <a href="http://sites.google.com/a/flowgram.com/intranet/">Home</a>
          &nbsp;
          <a href="http://sites.google.com/a/flowgram.com/intranet/system/app/pages/sitemap/hierarchy">Sitemap</a>
          
              &nbsp;
              <a href="http://sites.google.com/a/flowgram.com/intranet/system/app/pages/recentChanges">Recent site activity</a>
            
          &nbsp;
          <a href="javascript:void(window.open('http://www.google.com/sites/help/intl/en/terms_apps.html'))">Terms</a>
          &nbsp;
          <a href="javascript:;" onclick="JOT_reportAbuse()">Report Abuse</a>
          
              &nbsp;
              <a href="javascript:;" onclick="window.open(webspace.printUrl)">Print</a>
            
          &nbsp;|&nbsp;
          <b xmlns="http://www.w3.org/1999/xhtml">Powered by <a href="http://sites.google.com/">Google Sites</a></b>
</p>
<div class="goog-temp-spew">
</div>
</div>
</div>
<div tabindex="-1" aria-haspopup="true" role="menu" xmlns="http://www.w3.org/1999/xhtml" id="more-actions-menu" class="goog-toolbar-menu-buttons goog-menu" style="z-index: 1000; display: none; -moz-user-select: none;"><div style="-moz-user-select: none;" role="menuitem" id=":0" onclick="togglePageSubscription()" class="goog-menuitem"><div class="goog-menuitem-content">
<img src="/media/images/standalone/adobePreso/cleardot.gif" style="padding: 11px 16px 0pt 0pt ! important; background-position: -35px 0pt; margin-left: -20px; margin-right: 4px; margin-top: 1px;" class="goog-sprited-icon" align="left">
<span class="toggle-page-subscription"><span>
                      Subscribe to page changes
                        
                    </span></span>
</div></div><div style="-moz-user-select: none;" role="menuitem" id=":1" onclick="JOT_TOOLBAR_showPageSettings()" class="goog-menuitem"><div class="goog-menuitem-content">Page settings</div></div><div style="-moz-user-select: none;" role="menuitem" id=":2" onclick="window.open(webspace.printUrl)" class="goog-menuitem"><div class="goog-menuitem-content">
<img src="/media/images/standalone/adobePreso/cleardot.gif" style="padding: 15px 16px 0pt 0pt ! important; background-position: -52px 0pt; margin-left: -20px; margin-right: 4px;" class="goog-sprited-icon" align="left">Print
              </div></div><div style="-moz-user-select: none;" role="menuitem" id=":3" onclick="JOT_TOOLBAR_showMovePage()" class="goog-menuitem"><div class="goog-menuitem-content">Move</div></div><div style="-moz-user-select: none;" role="menuitem" id=":4" onclick="JOT_TOOLBAR_showDeletePage()" class="goog-menuitem"><div class="goog-menuitem-content">
<img src="/media/images/standalone/adobePreso/cleardot.gif" style="padding: 16px 14px 0pt 0pt ! important; background-position: -69px 0pt; margin-left: -19px; margin-right: 5px;" class="goog-sprited-icon" align="left">Delete</div></div><div style="-moz-user-select: none;" role="menuitem" id=":5" class="goog-menuitem"><div class="goog-menuitem-content">
<a target="_new" href="http://sites.google.com/a/flowgram.com/intranet/Home/user-experience-design/ideas-interstitials?previewAsViewer=1">Preview page as viewer</a>
</div></div><div role="separator" style="-moz-user-select: none;" id=":6" class="goog-menuseparator"></div><div style="-moz-user-select: none;" role="menuitem" id=":7" onclick="toggleSiteSubscription()" class="goog-menuitem"><div class="goog-menuitem-content">
<img src="/media/images/standalone/adobePreso/cleardot.gif" style="padding: 11px 16px 0pt 0pt ! important; background-position: -35px 0pt; margin-left: -20px; margin-right: 4px; margin-top: 1px;" class="goog-sprited-icon" align="left">
<span class="toggle-site-subscription"><span>
                      Subscribe to site changes
                        
                    </span></span>
</div></div><div style="-moz-user-select: none;" role="menuitem" id=":8" onclick="window.location.href = webspace.sitemapUrl" class="goog-menuitem"><div class="goog-menuitem-content">
                Sitemap
              </div></div></div>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
    window.jstiming.load.tick('sjl');
  </script>
<script xmlns="http://www.w3.org/1999/xhtml" src="/media/js/standalone/adobePreso/jot_min.js"></script>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
      function checkSearchField() {
        if (!goog.string.trim(goog.dom.$('jot-ui-searchInput').value)) {
          JOT_setStatusMsg('Please enter the text to be searched.');
          return false;
        }
      }
    </script>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
              JOT_addListener('titleChange', 'JOT_RECENTCHANGES_titleChange', 'COMP_30ac');
            </script>
<script xmlns="http://www.w3.org/1999/xhtml">
                    window.onload = function() {
                      var loadTimer = window.jstiming.load;
                      loadTimer.tick("ol");
                      loadTimer["name"] = "load";
                      window.jstiming.report(loadTimer);
                    }
                  </script>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
    window.jstiming.load.tick('jl');
  </script>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
        
        
            
                
                    
                    
                        JOT_manageEditMode();
                      
                  
              
          
      </script>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript">
        JOT_insertAnalyticsCode();
      </script>
<script xmlns="http://www.w3.org/1999/xhtml" type="text/javascript" defer="true">
  //<![CDATA[
    // Fires delayed events.
    (function() {
      JOT_fullyLoaded = true;
      var delayedEvents = JOT_delayedEvents;
      for (var x = 0; x < delayedEvents.length; x++) {
        var event = delayedEvents[x];
        JOT_postEvent(event.eventName, event.eventSrc, event.payload);
      }
      JOT_delayedEvents = null;
    })();
 //]]>
</script>
<div id="client-timer-div" class="goog-ws-subfooter goog-temp-spew"> </div>
<div id="server-timer-div" class="goog-ws-subfooter goog-temp-spew"> </div>
<script>
          window.jstiming.load.tick('render');
        </script>
</div></body></html>