<html>
<head>
<title>Flowgram | Custom Page</title>
<script type="text/javascript" src="/media/js/tiny_mce/tiny_mce.js"></script>
<link rel="stylesheet" type="text/css" href="/media/css/client/blankpage.css">
</head>
<body>
	
	<div id="header_wrapper">
		<h1>Edit Custom Page</h1>
	</div>
	<div id="main_wrapper" style="visibility: hidden;">	
	    <h2>Edit this custom page. Click the "Done" button when you are finished editing and you will be returned to your FlowGram.</h2>
		<div class="module">
            <div id="blank_page_editor">
                <textarea id="editor">Loading...</textarea>
                <div id="displayer"></div>
            </div>
		</div>
	    <div id="buttons">
			<input type="image" src="/media/images/btn_preview.png" value="Preview" id="saveButton" onclick="save()">
		    <input type="image" src="/media/images/btn_edit.png" value="Edit Again" id="editButton" onclick="edit()" style="display: none;">
		    <input type="image" src="/media/images/btn_done.png" value="Done" id="doneButton" onclick="done()">
			<div class="clearer"></div>
	    </div>
	</div>
    <script type="text/javascript">
        var mode="edit";
        var pid="{{pid}}";
        var csrfmiddlewaretoken="{{csrf_token}}";
        var value = '{{html|safe}}'.replace(/^<table><tr><td>|<\/td><\/tr><\/table>$/ig, '');
        document.getElementById('editor').value = value;
    </script>
    <script type="text/javascript" src="/media/js/third_party/prototype1602.js"></script>
    <script type="text/javascript" src="/media/js/client/blankpage.js"></script>
    <script type="text/javascript">
		
		initTinyMCE();
		
        window.setTimeout(
            function() {
                $('main_wrapper').style.visibility = 'visible';
            },
            1000);
    </script>
</body>
</html>
